@import "tailwindcss";
@source "./components/**/*.{ts,tsx,js,jsx}";

:root {
  --background: #f8f8f8;
  --foreground: #141414;
  --border: #cacaca;
  --card: #eeeeee;
  --highlight: #3a3a3a;

  --primary: #6453ad;
  --on-primary: #ffffff;
  --primary-foreground: #493991;

  --secondary: #141414;
  --on-secondary: #f0f0f0;
  --secondary-foreground: #141414;

  --muted: #555555;
  --on-muted: #d4d4d4;
  --muted-foreground: #555555;

  --error: #b63e3e;
  --on-error: #ffffff;
  --error-foreground: #ac3333;

  --warning: #e9bd44;
  --on-warning: #141414;
  --warning-foreground: #9b4f0d;

  --success: #307c47;
  --on-success: #ffffff;
  --success-foreground: #25693a;

  --link-foreground: #3766b3;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --border: #333333;
  --card: #141414;
  --highlight: #ededed;

  --primary: #493991;
  --on-primary: #ffffff;
  --primary-foreground: #946fd1;

  --secondary: #ededed;
  --on-secondary: #0a0a0a;
  --secondary-foreground: #ffffff;

  --muted: #444444;
  --on-muted: #d4d4d4;
  --muted-foreground: #858585;

  --error: #972626;
  --on-error: #ffffff;
  --error-foreground: #dd4b4b;

  --warning: #e7b62e;
  --on-warning: #000000;
  --warning-foreground: #e7b62e;

  --success: #2d7e45;
  --on-success: #ffffff;
  --success-foreground: #47c26c;

  --link-foreground: #3b82f6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-card: var(--card);
  --color-highlight: var(--highlight);

  --color-primary: var(--primary);
  --color-on-primary: var(--on-primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-on-secondary: var(--on-secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-on-muted: var(--on-muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-error: var(--error);
  --color-on-error: var(--on-error);
  --color-error-foreground: var(--error-foreground);

  --color-warning: var(--warning);
  --color-on-warning: var(--on-warning);
  --color-warning-foreground: var(--warning-foreground);

  --color-success: var(--success);
  --color-on-success: var(--on-success);
  --color-success-foreground: var(--success-foreground);

  --color-link-foreground: var(--link-foreground);

  --animate-validating: validating 1.5s ease-in-out infinite;
  --animate-validating-message: validating-message 1.5s ease-in-out infinite;

  @keyframes validating {
    0%,
    100% {
      border-color: var(--primary);
      box-shadow: none;
    }
    50% {
      border-color: color-mix(in oklab, var(--foreground) 40%, var(--primary));
      box-shadow: 0 0 4px 4px
        color-mix(in oklab, var(--primary) 15%, transparent);
    }
  }

  @keyframes validating-message {
    0%,
    100% {
      color: var(--primary-foreground);
      text-shadow: none;
    }
    50% {
      color: color-mix(
        in oklab,
        var(--foreground) 40%,
        var(--primary-foreground)
      );
      text-shadow: color-mix(
          in oklab,
          var(--primary-foreground) 25%,
          transparent
        )
        0px 0px 4px;
    }
  }
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

  * {
    border-color: var(--border);
  }
}
