@utility primary {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}
@utility secondary {
  background-color: var(--color-secondary);
  color: var(--color-on-secondary);
}
@utility tertiary {
  background-color: var(--color-tertiary);
  color: var(--color-on-tertiary);
}
@utility muted {
  background-color: var(--color-muted);
  color: var(--color-on-muted);
}
@utility success {
  background-color: var(--color-success);
  color: var(--color-on-success);
}
@utility success-subtle {
  background-color: var(--color-success-subtle);
  color: var(--color-on-success-subtle);
}
@utility warning {
  background-color: var(--color-warning);
  color: var(--color-on-warning);
}
@utility warning-subtle {
  background-color: var(--color-warning-subtle);
  color: var(--color-on-warning-subtle);
}
@utility danger {
  background-color: var(--color-danger);
  color: var(--color-on-danger);
}
@utility danger-subtle {
  background-color: var(--color-danger-subtle);
  color: var(--color-on-danger-subtle);
}
@utility highlight {
  background-color: var(--color-highlight);
  color: var(--color-on-highlight);
}
@utility inverse {
  background-color: var(--color-inverse);
  color: var(--color-on-inverse);
}

@utility heading-2xl {
  font-size: var(--text-4xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--text-4xl--line-height);
}
@utility heading-xl {
  font-size: var(--text-3xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--text-3xl--line-height);
}
@utility heading-lg {
  font-size: var(--text-2xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--text-2xl--line-height);
}
@utility heading-md {
  font-size: var(--text-xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--text-xl--line-height);
}
@utility heading-sm {
  font-size: var(--text-lg);
  font-weight: var(--font-weight-bold);
  line-height: var(--text-lg--line-height);
}
@utility heading-xs {
  font-size: var(--text-base);
  font-weight: var(--font-weight-bold);
  line-height: var(--text-base--line-height);
}
@utility ingress {
  font-size: var(--text-base);
  font-weight: var(--font-weight-semibold);
  line-height: var(--text-base--line-height);
}
@utility body {
  font-size: var(--text-base);
  font-weight: var(--font-weight-normal);
  line-height: var(--text-base--line-height);
}
@utility body-sm {
  font-size: var(--text-sm);
  font-weight: var(--font-weight-normal);
  line-height: var(--text-sm--line-height);
}
@utility eyebrow {
  font-size: var(--text-sm);
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--tracking-widest);
  line-height: var(--text-sm--line-height);
  text-transform: uppercase;
}

@utility focus-outline {
  outline-offset: -1px;
  outline-style: solid;
  outline-width: 2px;
}

@utility card {
  @apply bg-card rounded-lg border p-2 shadow-sm;
}

@utility popup {
  @apply bg-background outline-border rounded-lg bg-clip-padding shadow-lg outline;
}

@utility popup-transition {
  @apply origin-(--transform-origin) transition-[transform,scale,opacity] data-ending-style:scale-90 data-ending-style:opacity-0 data-starting-style:scale-90 data-starting-style:opacity-0;
}

@utility link {
  @apply text-link decoration-link/50 hover:decoration-link/75 active:decoration-link underline underline-offset-2;
}
